.features {
  display: flex;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
}

.featureIcon {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  pointer-events: none;
  user-select: none;
}

.featureIcon::after {
  display: inline-block;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.1;
  background-color: var(--ifm-color-primary-lightest);
}