:root {
  --ct-border-color: #ebedef;
  --ct-table-background: #ffffff;

  --ct-disabled-color: #A5ADBA;

  --ct-primary-color: #2463eb;
  --ct-secondary-color: #f9fafc;
  --ct-tertiary-color: #253859;

  --ct-text-color: #181828;
  --ct-text-secondary-color: #54585e;
  --ct-padding: 8px;

  --ct-padding-compact: 2px;

  --ct-border-border-color: var(--ct-border-color);
  --ct-border-border: 1px solid var(--ct-border-border-color);

  --ct-rounded-border-radius: 10px;

  --ct-header-x-padding: calc(var(--ct-padding) * 3);
  --ct-header-y-padding: calc(var(--ct-padding) * 1.5);
  --ct-header-caption-color: var(--ct-tertiary-color);
  --ct-header-caption-font-size: 1.125rem;
  --ct-header-caption-font-weight: 600;
  --ct-header-caption-line-height: 1.75rem;

  --ct-wrapper-border-top: 1px solid var(--ct-border-color);

  --ct-wrapper-table-row-background: transparent;
  --ct-wrapper-table-row-cell-x-padding: calc(var(--ct-padding) * 1.5);
  --ct-wrapper-table-row-cell-y-padding: calc(var(--ct-padding) * 1.5);
  --ct-wrapper-table-row-cell-color: var(--ct-text-color);

  --ct-wrapper-table-column-border-color: var(--ct-border-color);
  --ct-wrapper-table-column-border-size: 1px;
  --ct-wrapper-table-column-border: var(--ct-wrapper-table-column-border-size) solid var(--ct-wrapper-table-column-border-color);

  --ct-wrapper-table-row-border-color: var(--ct-border-color);
  --ct-wrapper-table-row-border-size: 1px;
  --ct-wrapper-table-row-border: var(--ct-wrapper-table-row-border-size) solid var(--ct-wrapper-table-row-border-color);

  --ct-wrapper-table-row-first-cell-left-padding: calc(var(--ct-padding) * 3);
  --ct-wrapper-table-row-last-cell-right-padding: calc(var(--ct-padding) * 3);

  --ct-wrapper-table-row-select-cell-left-padding: calc(var(--ct-padding) * 2 + 3px);


  --ct-wrapper-table-head-background: var(--ct-table-background);
  --ct-wrapper-table-head-border-color: var(--ct-border-color);
  --ct-wrapper-table-head-x-padding: calc(var(--ct-padding) * 1.5);
  --ct-wrapper-table-head-y-padding: calc(var(--ct-padding) * 1.5);

  --ct-wrapper-table-head-row-cell-color: var(--ct-header-caption-color);
  --ct-wrapper-table-head-row-cell-font-weight: 600;

  --ct-wrapper-table-body-row-hover-background: #f6f8fe;
  --ct-wrapper-table-body-row-select-background: var(--ct-wrapper-table-body-row-hover-background);

  --ct-wrapper-table-body-row-background: var(--ct-wrapper-table-row-background);
  --ct-wrapper-table-body-row-even-background: var(--ct-wrapper-table-row-background);
  --ct-wrapper-table-body-row-odd-background: #fafafa;

  --ct-wrapper-table-body-row-cell-border-color: var(--ct-border-color);
  --ct-wrapper-table-body-row-cell-border-bottom: 1px solid var(--ct-wrapper-table-body-row-cell-border-color);
  --ct-wrapper-table-body-row-cell-color: var(--ct-text-color);
  --ct-wrapper-table-body-row-cell-font-weight: 400;

  --ct-checkbox-size: 24px;

  --ct-resizer-bg-color: var(--ct-border-color);
  --ct-resizer-width: 2px;

  --ct-sorter-color: var(--ct-text-secondary-color);
  --ct-sorter-active-color: var(--ct-text-color);
  --ct-sorter-icon-arrow-active-opacity: 1;
  --ct-sorter-icon-arrow-disabled-opacity: 0.3;

  --ct-resizer-active-bg-color: var(--ct-primary-color);

  --ct-pagination-x-padding: calc(var(--ct-padding) * 3);
  --ct-pagination-y-padding: calc(var(--ct-padding) * 1.5);
  --ct-pagination-color: var(--ct-text-secondary-color);
  --ct-pagination-border-top: 1px solid var(--ct-wrapper-table-body-row-cell-border-color);

  --ct-pagination-caption-number-color: var(--ct-text-color);
  --ct-pagination-caption-number-font-weight: 600;

  --ct-pagination-navigation-item-link-color: var(--ct-pagination-color);
  --ct-pagination-navigation-item-link-font-weight: 600;
  --ct-pagination-navigation-item-link-background-color: transparent;
  --ct-pagination-navigation-item-link-border-radius: 4px;
  --ct-pagination-navigation-item-link-x-padding: 12px;
  --ct-pagination-navigation-item-link-y-padding: 4px;

  --ct-pagination-navigation-item-hover-link-color: var(--ct-primary-color);
  --ct-pagination-navigation-item-hover-link-font-weight: 600;
  --ct-pagination-navigation-item-hover-link-background-color: var(--ct-secondary-color);

  --ct-pagination-navigation-item-active-link-color: white;
  --ct-pagination-navigation-item-active-link-font-weight: 600;
  --ct-pagination-navigation-item-active-link-background-color: var(--ct-tertiary-color);
}

.chudo {
  $chudo: &;

  margin: 0px;
  padding: 0px;

  &,
  *,
  *>* {
    box-sizing: border-box;
  }

  &--border {
    border: var(--ct-border-border);
  }

  &--rounded {
    border-radius: var(--ct-rounded-border-radius);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--ct-header-y-padding) var(--ct-header-x-padding);

    &__caption {
      margin: 0px;

      color: var(--ct-header-caption-color);
      font-size: var(--ct-header-caption-font-size);
      font-weight: var(--ct-header-caption-font-weight);
      line-height: var(--ct-header-caption-line-height);
    }
  }

  &__wrapper {
    $wrapper: &;
    width: 100%;
    overflow-x: auto;

    &--fixed {
      overflow-x: hidden;
    }

    &--border {
      border-top: var(--ct-wrapper-border-top);
    }

    &__table {
      $table: &;
      display: grid;
      border-collapse: collapse;

      width: auto;
      min-width: max-content;

      &__row {
        $row: &;
        display: contents;
        background-color: var(--ct-wrapper-table-row-background);

        &__cell {
          display: grid;
          align-items: center;

          position: relative;
          background-color: inherit;
          padding: var(--ct-wrapper-table-row-cell-y-padding) var(--ct-wrapper-table-row-cell-x-padding);
          color: var(--ct-wrapper-table-row-cell-color);

          &:first-child {
            padding-left: var(--ct-wrapper-table-row-first-cell-left-padding);
          }

          &:last-child {
            padding-right: var(--ct-wrapper-table-row-last-cell-right-padding);
          }

          &[data-type=select] {
            padding-left: var(--ct-wrapper-table-row-select-cell-left-padding);
            padding-right: 0px;
          }

          &[data-alignment=left] {
            text-align: left;
            justify-content: start;
          }

          &[data-alignment=center] {
            text-align: center;
            justify-content: center;
          }

          &[data-alignment=right] {
            text-align: right;
            justify-content: right;
          }

          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;

          // &__wrapper {
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // }
        }
      }

      &__head {
        display: contents;
        background-color: var(--ct-wrapper-table-head-background);

        &__row {
          $headRow: &;

          &__cell {
            color: var(--ct-wrapper-table-head-row-cell-color);
            font-weight: var(--ct-wrapper-table-head-row-cell-font-weight);


            padding-top: 8px !important;
            padding-bottom: 8px !important;

            &:hover {
              #{$chudo}__resizer {
                // opacity: 1;
              }
            }

            &__wrapper {
              color: inherit;
              font-weight: inherit;

              height: 1.71429em;
              line-height: 1.71429em;

              &--action {
                padding: 0px;
                margin: 0px;
                text-align: inherit;
                border: 0px;
                border-radius: 4px;
                margin: 0px -4px !important;
                padding-inline: 4px !important;
                cursor: pointer;
                transition: background-color 0.3s linear 0s;
                background-color: transparent;

                &:hover {
                  background-color: #ebedef;

                  .chudo__sorter {
                    color: var(--ct-text-secondary-color);
                  }
                }

                &:active {
                  transition: none;
                  background-color: #d7d7d7;
                }
              }
            }
          }
        }
      }

      &__body {
        display: contents;

        &__row {
          $row: &;
          background: var(--ct-wrapper-table-body-row-background);

          &[aria-selected=true] {
            background: var(--ct-wrapper-table-body-row-select-background);
          }

          &__cell {
            color: var(--ct-wrapper-table-body-row-cell-color);
            font-weight: var(--ct-wrapper-table-body-row-cell-font-weight);
          }

          &:last-child {
            #{$row}__cell {
              border-bottom: none;
            }
          }
        }
      }

      &--fixed {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }

      &--stripe {
        & #{$table} {
          &__body {
            &__row {
              &:nth-child(even) {
                background-color: var(--ct-wrapper-table-body-row-even-background);
              }

              &:nth-child(odd) {
                background-color: var(--ct-wrapper-table-body-row-odd-background);
              }
            }
          }
        }
      }

      &--row-border {
        & #{$table} {
          &__row {
            &__cell {
              border-bottom: var(--ct-wrapper-table-row-border);
            }
          }
        }
      }

      &--column-border {
        & #{$table} {
          &__row {
            &__cell {
              border-right: var(--ct-wrapper-table-column-border);


              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }

      &--row-border {
        & #{$table} {
          &__body {
            &__row {
              &__cell {
                border-bottom: var(--ct-wrapper-table-row-border);
              }
            }
          }
        }
      }

      &--compact {
        --ct-padding: var(--ct-padding-compact);
      }

      &--highlight-row {
        & #{$table} {
          &__body {
            &__row {
              &:hover {
                background: var(--ct-wrapper-table-body-row-hover-background) !important;
              }
            }
          }
        }
      }
    }
  }

  &__resizer {
    position: absolute;
    user-select: none;
    width: 8px;
    top: var(--ct-wrapper-table-row-cell-y-padding);
    bottom: var(--ct-wrapper-table-row-cell-y-padding);
    right: -8px;

    cursor: col-resize;
    z-index: 100;
    // opacity: 0;
    transition: opacity 0.3s linear 0s;

    &__line {
      position: absolute;
      background: var(--ct-resizer-bg-color);
      width: 1px;
      height: 100%;
      top: 0px;
      transition: all 100ms linear 0s;
    }
  }

  &__sorter {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0em;
    padding: 1px 6px;

    color: var(--ct-sorter-color);

    --active-arrow-opacity: 1;
    --disabled-arrow-opacity: 0.5;

    >svg {
      stroke: none;
      // stroke-linecap: round;
      // stroke-linejoin: round;

      fill: currentColor;
      width: 0.5rem;

      >* {
        opacity: var(--ct-sorter-icon-arrow-active-opacity);

        &[data-active=true] {
          opacity: var(--ct-sorter-icon-arrow-disabled-opacity);
        }
      }
    }
  }

  &__selection-panel {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: var(--ct-pagination-y-padding) var(--ct-pagination-x-padding);
    color: var(--ct-pagination-color);

    &--border {
      border-top: var(--ct-pagination-border-top);
    }

    &__meta {
      display: flex;
      justify-content: center;
      gap: 12px;

      &__caption {
        font-size: .875rem;
        line-height: 1.25rem;
        display: inline-flex;
        align-items: center;

        &__number {
          color: var(--ct-pagination-caption-number-color);
          font-weight: var(--ct-pagination-caption-number-font-weight);
        }
      }

      &__navigation {
        margin: 0px;
        padding: 0px;
        display: inline-flex;
        align-items: center;
        list-style: none;

        &__item {
          &__page {
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;

            padding: var(--ct-pagination-navigation-item-link-y-padding) var(--ct-pagination-navigation-item-link-x-padding);
            display: block;

            color: var(--ct-pagination-navigation-item-link-color);
            border-radius: var(--ct-pagination-navigation-item-link-border-radius);
            font-weight: var(--ct-pagination-navigation-item-link-font-weight);
            background-color: var(--ct-pagination-navigation-item-link-background-color);


            &:hover {
              color: var(--ct-pagination-navigation-item-hover-link-color);
              background-color: var(--ct-pagination-navigation-item-hover-link-background-color);
            }

            &--active {

              &,
              &:hover {
                color: var(--ct-pagination-navigation-item-active-link-color);
                background-color: var(--ct-pagination-navigation-item-active-link-background-color);
              }
            }


            &:disabled {
              cursor: not-allowed;
              color: var(--ct-disabled-color) !important;
              background: none;
            }

            >caption {
              clip: rect(0, 0, 0, 0);
              border-width: 0;
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              white-space: nowrap;
              width: 1px;
            }

            >svg {
              width: 1.25rem;
              height: 1.25rem;
              display: block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  &__checkbox {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    cursor: default;
    width: var(--ct-checkbox-size);

    color: var(--ct-border-color);



    &__input {
      width: 100%;
      height: 100%;
      margin: 0px;
      appearance: none;
      border: none;
      grid-area: 1 / 1 / 2 / 2;
      opacity: 0;
      outline: none;

      &[aria-checked=true],
      &[data-indeterminate=true] {

        +.chudo__checkbox__icon {
          color: var(--ct-primary-color);
          fill: white;
        }
      }
    }


    &__icon {
      pointer-events: none;
      width: 24px;
      height: 24px;

      grid-area: 1 / 1 / 2 / 2;
      pointer-events: none;
    }
  }
}